<launch>
    <node pkg="tf" type="static_transform_publisher" name="tf_fixed" args="0 0 0 0 0 1 0 map odom 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_joana" args="0 0 0 0 0 1 0 map joana 100" /> -->

    <!-- old spline -->
    <!-- <node name="fred_spline_generator" pkg="fred_spline_generator" type="spline_generator_manager.py" output="screen">

        <rosparam command="load" file="$(find fred_spline_generator)/data/ctrl_points/active_ctrl_points.yaml"/>
        <rosparam command="load" file="$(find fred_spline_generator)/launch/config.yaml"/>

    </node> -->

    <node name="fred_spline_generator" pkg="fred_spline_generator" type="spline_generator_service.py" output="screen">

        <rosparam command="load" file="$(find fred_spline_generator)/launch/config.yaml"/>
        <rosparam command="load" file="$(find fred_spline_generator)/data/ctrl_points/global_ctrl_points.yaml" ns="/fred_spline_generator/global" />


    </node>

    <node pkg="rostopic" type="rostopic" name="pub_config" args="pub /fred_spline_generator/service/par/config fred_spline_generator/Config '{RosparamCtrlPointsPath: global}'" />

          
</launch>